/* override css styles of the main theme here */

.sosin {
    color: #607D8B !important;
}

.paparecall {  
    color: #F44336 !important;  
}

.tapstyle {
    color: #28A5D2 !important;
} 

.whatpet {
    color: #FF9800 !important;
}

.twitter {
    color: #1DA1F3 !important;
}

.linkedin {
    color: #0077B5 !important;
}

.spotify {
    color: #1db954 !important;
}

.bandcamp {
    color: #639AA9 !important;
}

.youtube {
    color: #FF0000 !important;
}

.play_music {
    color: #F75934 !important;
}